<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Tables</title>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <% include ./sidebar %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <% include ./topbar %>

        <!-- Begin Page Content -->
        <div class="container-fluid font-16">
                

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">근무조관리</h1>
          <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->
          <p class="mb-4">근무조 정보를 관리하는 메뉴 입니다.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">근무조관리 - 등록</h6>
            </div>
            <div class="card-body">
          <!-- ============================================================== -->
          <!-- Recent comment and chats -->
          <!-- ============================================================== -->
              <div class="row">
                  
                  <div class="col-md-12">
                <!-- Tabs -->
                      <div class="card">
                          <form class="form-horizontal" id="mform">
                              <div class="card-body">                                  
                                  <div class="form-group row">
                                    <label for="userId" class="col-sm-2 control-label col-form-label">사업장 *</label>
                                    <div class="col-sm-10">
                                        <select class="select form-control custom-select" style="width: 100%;" id="siteCd">
                                            <option value="">선택</option>
                                            <option value="S0001">한화데이터센터</option>                                            
                                        </select>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                      <label for="carNm" class="col-sm-2 control-label col-form-label">근무조코드</label>
                                      <div class="col-sm-10">
                                          <input type="text" class="form-control" id="empCd" value="W0003" readonly>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="carNm" class="col-sm-2 control-label col-form-label">근무조명 *</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control is-invalid" id="empNm">
                                    </div>
                                  </div>                                                             
                                  <div class="form-group row">
                                    <label for="carNm" class="col-sm-2 control-label col-form-label">근무시간 *</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control is-invalid" placeholder="ex) 09:00-18:00" id="addr">
                                    </div>
                                  </div>                                  
                                  <div class="form-group row">
                                      <label for="remark" class="col-sm-2 control-label col-form-label">비고</label>
                                      <div class="col-sm-10">
                                          <input type="text" class="form-control" id="remark">
                                      </div>
                                  </div>
                              </div>
                              <div class="border-top">
                                  <div class="card-body" style="text-align: center;">
                                      <button type="button" class="btn btn-info" id="mSubmit">저장</button>
                                      <button type="button" class="btn btn-info" onclick="location.href='/workGroup'">목록</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                      
                  </div>
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- Recent comment and chats -->
          <!-- ============================================================== -->
      </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <% include ./footer %>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>

</body>

</html>
