<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Tables</title>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <% include ./sidebar %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <form class="form-inline">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
          </form>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">근무변경관리</h1>
          <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->
          <p class="mb-4">근무변경 정보를 관리하는 메뉴 입니다.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">근무변경관리 - List</h6>

               <!-- 권한 선택 콤보박스 -->
               <form>

            <!-- 20.11.02 add ej -->
                <script type="text/javascript">

                  function chageComboSelect(obj){   // 콤보 선택에 따라 표시 내용 변경 
                    // select element에서 선택된 option의 value가 저장된다.
                    var selectValue = obj.value;
                    if(selectValue == "user"){
                      $(".creq").show();
                      $(".cstate").hide();   
                      
                      // $("#dataTable tr").filter(function() {
                      //   $(".name").toggle($(".name").text().indexOf("리조트_설악") > -1)
                      // });
////////////////////  테이블 필터링 중 
                      //var table = $('#dataTable').DataTable();
                      //var srchName = '최근무';
                        
                      //console.log ( 'table :: '  + JSON.stringify(table) ) ;

                      // table.columns().flatten().each( function ( colIdx ) {
                      //     // Create the select list and search operation
                      //     var select = $('<select />')
                      //         .appendTo(
                      //             table.column(colIdx).footer()
                      //         )
                      //         .on( 'change', function () {
                      //             table
                      //                 .column( colIdx )
                      //                 .search( srchName )
                      //                 .draw();
                      //         } );
                      
                      //     // Get the search data for the first column and add to the select list
                      //     table
                      //         .column( colIdx )
                      //         .cache( 'search' )
                      //         .sort()
                      //         .unique()
                      //         .each( function ( srchName  ) {
                      //             select.append( $('<option value="'+ srchName +'">'+ srchName +'</option>') );
                      //         } );
                      // } );
//// 

                    }else{
                      $(".creq").hide();
                      $(".cstate").show();
                    }              
                    
                    console.log( "combo val :: " + selectValue);
                }

                // 테이블 체크 박스 
                function check_click(loc, name, date, type, time) {
                  
                  console.log("체크박스를 누르셨습니다." + loc, name, date, type, time );
                    // window.open(popUrl,"",popOption);
                  location.href = "#myModal";
                }

                // 팝업 변경 결재 버튼 클릭시
                function reqChg() {
                  alert("[최근무]님과 근무를 변경하시겠습니까? \n 최근무님의 승인 후 관리자 승인이 필요합니다.");
                }

                // 요청 온 결재 내역 확인 

                function reqStat_click(){
                  console.log("결재확인 요청 버튼 클릭 ");
                  location.href = "#reqStat";

                }
                


                </script>
            <!-- 20.11.02 add ej  end -->
                
                <div style="display: inline;text-align: right;">
                  <select name="choice" id="choice" style="float: right;" onchange="chageComboSelect(this)" >
                    <option value="user">일반사용자</option>
                    <option value="admin">관리자</option>
                  </select>
                
                  <!-- 20.11.06 MOD 변경결재확인 별도 메뉴로 변경
                    <button type="button" id="button1" onclick="reqStat_click();"> 
                    <a data-toggle="modal" href="#reqStat">결재확인 

                    </a> 
                  </button> -->

                </div>

              </form>

            </div>

            <div class="card-body">
            
              <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>회사</th>
                          <th class="loc">사업장</th>
                          <th class="name">대상자</th>
                          <th>근무일자</th>
                          <th>근무조</th>
                          <th>근무시간</th>
                          <th class="creq">변경요청</th>
                          <th class="cstate">변경상태</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>한화에스테이트</td>
                          <td>한화손해보험</td>
                          <td>홍길동</td>
                          <td>2020.10.26</td>
                          <td>A</td>
                          <td>09:00-13:00</td>
                        <!--  <td class="creq"><input type="checkbox" id="checkbox" name="_selected_" onclick= "check_click()"> </td> -->
                          <td class="creq" onclick="check_click()">
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-icon-split btn-sm">
                              <span class="icon text-white-50">
                                <i class="fas fa-flag"></i>
                              </span>   
                              <span>변경요청</span>
                            </a>
                          </td>
                          <td class="cstate">변경가능</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>한화에스테이트</td>
                          <td>리조트_설악</td>
                          <td>김사원</td>
                          <td>2020.10.27</td>
                          <td>B</td>
                          <td>09:00-18:00</td>
                          <!--  <td class="creq"><input type="checkbox" id="checkbox" name="_selected_" onclick= "check_click()"> </td> -->
                          <td class="creq" onclick="check_click()">
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-icon-split btn-sm">
                              <span class="icon text-white-50">
                                <i class="fas fa-flag"></i>
                              </span>   
                              <span>변경요청</span>
                            </a>
                          </td>
                          <td class="cstate">변경불가</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>한화에스테이트</td>
                          <td>리조트_설악</td>
                          <td>김설악</td>
                          <td>2020.11.03</td>
                          <td>A</td>
                          <td>09:00-13:00</td>
                          <!--  <td class="creq"><input type="checkbox" id="checkbox" name="_selected_" onclick= "check_click()"> </td> -->
                          <td class="creq" onclick="check_click()">
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-icon-split btn-sm">
                              <span class="icon text-white-50">
                                <i class="fas fa-flag"></i>
                              </span>   
                              <span>변경요청</span>
                            </a>
                          </td>
                          <td class="cstate">변경가능</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>한화에스테이트</td>
                          <td>리조트_설악</td>
                          <td>김설악</td>
                          <td>2020.10.24</td>
                          <td>A</td>
                          <td>09:00-13:00</td>
                          <!--  <td class="creq"><input type="checkbox" id="checkbox" name="_selected_" onclick= "check_click()"> </td> -->
                          <td class="creq" onclick="check_click()">
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-icon-split btn-sm">
                              <span class="icon text-white-50">
                                <i class="fas fa-flag"></i>
                              </span>   
                              <span>변경요청</span>
                            </a>
                          </td>
                          <td class="cstate">변경가능</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>한화에스테이트</td>
                          <td>리조트_설악</td>
                          <td>김설악</td>
                          <td>2020.10.25</td>
                          <td>A</td>
                          <td>09:00-13:00</td>
                          <!--  <td class="creq"><input type="checkbox" id="checkbox" name="_selected_" onclick= "check_click()"> </td> -->
                          <td class="creq" onclick="check_click()">
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-icon-split btn-sm">
                              <span class="icon text-white-50">
                                <i class="fas fa-flag"></i>
                              </span>   
                              <span>변경요청</span>
                            </a>
                          </td>
                          <td class="cstate">변경가능</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>한화에스테이트</td>
                          <td>리조트_설악</td>
                          <td>최근무</td>
                          <td>2020.11.07</td>
                          <td>B</td>
                          <td>13:00-17:00</td>
                          <!--  <td class="creq"><input type="checkbox" id="checkbox" name="_selected_" onclick= "check_click()"> </td> -->
                          <td class="creq" onclick="check_click()">
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-icon-split btn-sm">
                              <span class="icon text-white-50">
                                <i class="fas fa-flag"></i>
                              </span>   
                              <span>변경요청</span>
                            </a>
                          </td>
                          <td class="cstate">변경가능</td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td>한화에스테이트</td>
                          <td>리조트_설악</td>
                          <td>최근무</td>
                          <td>2020.10.25</td>
                          <td>B</td>
                          <td>13:00-17:00</td>
                          <!--  <td class="creq"><input type="checkbox" id="checkbox" name="_selected_" onclick= "check_click()"> </td> -->
                          <td class="creq" onclick="check_click()">
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-icon-split btn-sm">
                              <span class="icon text-white-50">
                                <i class="fas fa-flag"></i>
                              </span>   
                              <span>변경요청</span>
                            </a>
                          </td>
                          <td class="cstate">변경가능</td>
                        </tr>
                      </tbody>
                    </table> 
                }
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- 변경 버튼 눌렀을 때 표시 데이터 -->
        <div class="modal fade" id="myModal" role="dialog"> <!-- 사용자 지정 부분① : id명 -->
          <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">근무 변경</h4> <!-- 사용자 지정 부분② : 타이틀 -->
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>
              <div class="modal-body">
               <!-- <p>여기에 필요한 텍스트 메시지 넣기</p>    // 사용자 지정 부분③ : 텍스트 메시지 -->
                <div class="card-body">
                  <div class="table-responsive">
                    내 근무 정보</br>
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <tr>
                        <th>근무일자</th>
                        <th>2020.11.03</th>
                        <th>근무조</th>
                        <th>A</th>
                        <th>근무시간</th>
                        <th>09:00 ~ 14:00</th>
                      </tr>
                    </table>
                    <br>변경대상자 정보</br>
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <tr>
                          <th>이름</th>
                          <th>최근무</th>
                          <th>날짜</th>
                          <th>2020.11.07</th>
                        </tr>
                    </table>

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>이름</th>
                          <th>근무일자</th>
                          <th>근무조</th>
                          <th>근무시간</th>
                          <th>근무변경</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>최근무</td>
                          <td>2020.11.07</td>
                          <td>B</td>
                          <td>14:00 ~ 20:00</td>
                          <td class="creq"><input type="checkbox" id="checkbox" name="_selected_" onclick= "check_click()"> </td>
                        </tr>
                        <tr>
                          <td>최근무</td>
                          <td>2020.11.07</td>
                          <td>B</td>
                          <td>14:00 ~ 20:00</td>
                          <td class="creq"><input type="checkbox" id="checkbox" name="_selected_" onclick= "check_click()"> </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div style="display: inline;text-align: center;" class="card-footer py-3">
                <button type="button" onclick="reqChg()" > 변경결재요청 </button>
                <button type="button" data-dismiss="modal">닫기</button>
              </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
            </div>
          </div>
        </div>

        <!-- 결재확인 버튼 클릭시 표시 데이터 start  20.11.06 MOD 별도 화면 분리 -->
        <!-- 변경 버튼 눌렀을 때 표시 데이터 -->
        <!-- <div class="modal fade" id="reqStat" role="dialog"> <!-- 사용자 지정 부분① : id명 -->
          <!-- <div class="modal-dialog modal-lg"> -->
            <!-- Modal content-->
            <!-- <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">변경 요청 확인</h4> <!-- 사용자 지정 부분② : 타이틀 -->
                <!-- <button type="button" class="close" data-dismiss="modal">×</button>
              </div>
              <div class="modal-body"> -->
               <!-- <p>여기에 필요한 텍스트 메시지 넣기</p>    // 사용자 지정 부분③ : 텍스트 메시지 -->
                <!-- <div class="card-body">
                  <div class="table-responsive">
                    변경 요청 정보</br>

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>선택</th>
                          <th>요청자</th>
                          <th>근무일자</th>
                          <th>근무조</th>
                          <th>근무시간</th>
                          <th>변경자</th>
                          <th>변경요청일자</th>
                          <th>변경근무조</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><input type="checkbox" > </td>
                          <td>김요청</td>
                          <td>2020.11.07</td>
                          <td>A</td>
                          <td>09:00 ~ 13:00</td>
                          <td>B</td>
                          <td>최근무</td>
                          <td>14:00 ~ 20:00</td>
                          <td>B</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div style="display: inline;text-align: center;" class="card-footer py-3">
                <button type="button"  > 변경승인 </button>
                <button type="button" data-dismiss="modal">닫기</button>
              </div> -->
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
            <!-- </div>
          </div>
        </div> -->

        <!-- 결재확인 버튼 클릭시 표시 데이터 end -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>

  <script>
    // console.log( "dddd " + $("#choice").value ) ;  // undefined 뜸 확인 필요  
    if($("#choice").val() == "admin"){
      $(".creq").hide();
      $(".cstate").show();

    }else{
      $(".creq").show();
      $(".cstate").hide();   
    }
  </script>

</body>

</html>
