<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <link href='fullcalendar/main.css' rel='stylesheet' />
  <script src='fullcalendar/main.js'></script>
  <script>

    document.addEventListener('DOMContentLoaded', function() {
      
      let draggableEl = document.getElementById('mydraggable');      

      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        // plugins: [ interactionPlugin ],
        droppable: true,
        eventClick: function(info) {
          // alert('Event: ' + info.event.title);
          // alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
          // alert('View: ' + info.view.type);

          // change the border color just for fun
          
          if(info.el.style.borderColor == 'red'){
            info.el.style.borderColor = 'white';
          }else{
            info.el.style.borderColor = 'red';
          }
          
        },
        initialView: 'dayGridMonth',
        // initialDate: '2020-10-07',
    headerToolbar: {
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek,timeGridDay'
    },
    events: [
      {
        title: '홍길동-근무A',
        start: '2020-10-01',
        end: '2020-10-03'
      },
      {
        title: '홍길동-근무A',
        start: '2020-10-05',
        end: '2020-10-10'
      },
      {
        title: '홍길동-근무A',
        start: '2020-10-12',
        end: '2020-10-17'
      },
      {
        title: '홍길동-근무A',
        start: '2020-10-19',
        end: '2020-10-24'
      },
      {
        title: '홍길동-근무A',
        start: '2020-10-26',
        end: '2020-10-31'
      },
      {
        title: '김사원-근무B',
        start: '2020-10-01',
        end: '2020-10-02'
      },
      {
        title: '김사원-근무B',
        start: '2020-10-07',
        end: '2020-10-10'
      },
      {
        title: '김사원-근무B',
        start: '2020-10-13',
        end: '2020-10-15'
      },
      {
        title: '김사원-근무B',
        start: '2020-10-20',
        end: '2020-10-23'
      },
      {
        title: '김사원-근무B',
        start: '2020-10-26',
        end: '2020-10-31'
      },
      {
        title: '홍길동-근무A',
        start: '2020-11-02',
        end: '2020-11-07'
      },
      {
        title: '홍길동-근무A',
        start: '2020-11-09',
        end: '2020-11-14'
      },
      {
        title: '홍길동-근무A',
        start: '2020-11-17',
        end: '2020-11-20'
      },
      {
        title: '홍길동-근무A',
        start: '2020-11-25',
        end: '2020-11-29'
      },
      {
        title: '홍길동-근무A',
        start: '2020-11-30',
        end: '2020-11-30'
      },
      {
        title: '김사원-근무B',
        start: '2020-11-03',
        end: '2020-11-07'
      },
      {
        title: '김사원-근무B',
        start: '2020-11-10',
        end: '2020-11-13'
      },
      {
        title: '김사원-근무B',
        start: '2020-11-16',
        end: '2020-11-19'
      },
      {
        title: '김사원-근무B',
        start: '2020-11-23',
        end: '2020-11-28'
      },
      {
        title: '김사원-근무B',
        start: '2020-11-30',
        end: '2020-11-30'
      },
      // {
      //   groupId: '999',
      //   title: 'Repeating Event',
      //   start: '2020-10-09T16:00:00'
      // },
      // {
      //   groupId: '999',
      //   title: 'Repeating Event',
      //   start: '2020-10-16T16:00:00'
      // },
      // {
      //   title: 'Conference',
      //   start: '2020-10-11',
      //   end: '2020-10-13'
      // },
      // {
      //   title: 'Meeting',
      //   start: '2020-10-12T10:30:00',
      //   end: '2020-10-12T12:30:00'
      // },
      // {
      //   title: 'Lunch',
      //   start: '2020-10-12T12:00:00'
      // },
      // {
      //   title: 'Meeting',
      //   start: '2020-10-12T14:30:00'
      // },
      // {
      //   title: 'Birthday Party',
      //   start: '2020-10-13T07:00:00'
      // },
      // {
      //   title: 'Click for Google',
      //   url: 'http://google.com/',
      //   start: '2020-10-28'
      // }
    ]
      });
      calendar.render();

      new Draggable(draggableEl);

    });

  </script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->

    <% include ./sidebar %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <% include ./topbar %>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">근무스케줄관리</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Schedule</a>
          </div>

          <!-- Content Row -->
          <div class="row">
            <!-- Pie Chart -->
            <div class="col-xl col-lg">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">근무스케줄표</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div id='calendar'></div>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <% include ./footer %>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>
