<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Tables</title>

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <!-- Begin Page Content -->
      <!-- <div class="container-fluid font-16"> -->
        <form action="/clnStatBoard/submit" method="post" id="mRptViewForm" name="mRptViewForm">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" align="center"><%=data[0].ROOM_NO%></h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <!-- <thead>
                  <tr>
                    <th>No</th>
                    <th>사업장코드</th>
                    <th>사업장명</th>
                    <th>근무조코드</th>
                    <th>근무조</th>              
                  </tr>
                </thead> -->
                <tbody>
                  <%
                    for(var i=0; i<data.length; i++){
                  %>
                  <tr>
                    <td>사업장</td>
                    <td>지리산</td>
                  </tr>
                  <tr>
                    <td>객실번호 : </td>
                    <input type="hidden" name="roomNo" value="<%=data[i].ROOM_NO%>">
                    <td><%=data[i].ROOM_NO%></td>
                  </tr>
                  <tr>
                    <td>객실상태 : </td>
                    <td><%=data[i].ROOM_STAT_CD%></td>
                  </tr>
                  <%
                    }
                  %>
                </tbody>
              </table>
              <div class="border-top">
                <div class="card-body" style="text-align: center;">
                    <button type="submit" class="btn btn-info" id="mSubmit">청소완료</button>
                </div>
            </div>
            </div>
          </div>
        </form>
        
        <!-- ============================================================== -->
        <!-- Recent comment and chats -->
        <!-- ============================================================== -->
    <!-- </div> -->
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    
  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
</body>
</html>

<script>  
</script>